{% if widget.value %}
  <div style="
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 12px;
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        margin-bottom: 12px;
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
        ">
    <h5 style="margin-bottom: 8px; font-weight: 500; color: #333;">Editar</h5>
    <img src="{{ widget.value.url }}" alt="Imagem atual"
         style="max-width: 200px; max-height: 200px; border-radius: 12px; object-fit: cover;">
  </div>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
