{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>@{{ request.user.username }} Está seguindo...</h1>
<br />

{% if profiles %}
<div class="profile-grid">
    {% for profile in profiles.follows.all %}
<div class="follows-card">
    <div class="profile-image">
        {% if profile.profile_image %}
        <img src="{{ profile.profile_image.url }}" alt="{{ profile.user.username }}" />
        {% else %}
        <img src="{% static 'images/pessoa.png' %}" alt="Profile Image" />
        {% endif %}
    </div>
    <div class="profile-info">
        <h5>
            {{ profile.user.username }}
            <!-- Sempre mostra que está seguindo -->
            <span style="font-size:0.8rem; color: gray;">Seguindo</span>
            <a href="{% url 'unfollow' profile.user.id %}">
                <i class="fa fa-user-minus small" style="color: gray"></i>
            </a>
        </h5>
        <p class="username-link">
            <a href="{% url 'profile' profile.user.id %}">@{{ profile.user.username|lower }}</a>
        </p>
        <small class="text-muted">
            Last Updated: {{ profile.date_modified }}
        </small>
    </div>
</div>
{% endfor %}

</div>
{% endif %}

{% endblock %}
