{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container py-4">
  <!-- Centraliza os pins -->
  <div class="row justify-content-center">

    <div class="col-md-10">
      {% if pins %}
      <div class="masonry-grid">
        {% for pin in pins %}
        <div class="masonry-item">

          <!-- Usuário e Likes -->
          <div class="pin-user mb-2 d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <a href="{% url 'profile' pin.user.id %}">
                {% if pin.user.profile.profile_image %}
                  <img src="{{ pin.user.profile.profile_image.url }}" width="40" height="40" class="rounded-circle" alt="{{ pin.user.username }}">
                {% else %}
                  <img src="{% static 'images/pessoa.png' %}" width="40" height="40" class="rounded-circle" alt="{{ pin.user.username }}">
                {% endif %}
              </a>
              <span class="ms-2">@{{ pin.user.username }}</span>
            </div>

            <div>
              {% if user in pin.likes.all %}
                <a href="{% url 'pin_like' pin.id %}" class="text-danger fw-bold d-flex align-items-center gap-1" style="text-decoration: none;">
                  <i class="fa-solid fa-heart"></i> {{ pin.number_of_likes }}
                </a>
              {% else %}
                <a href="{% url 'pin_like' pin.id %}" class="text-danger fw-bold d-flex align-items-center gap-1" style="text-decoration: none;">
                  <i class="fa-regular fa-heart"></i> {{ pin.number_of_likes }}
                </a>
              {% endif %}
            </div>
          </div>

          <!-- Imagem do Pin -->
          <img src="{{ pin.image.url }}" alt="{{ pin.description }}" class="pin-image">

          <!-- Descrição -->
          <div class="card-body p-2 text-center">
            <p>{{ pin.description }}</p>
          </div>

        </div>
        {% endfor %}
      </div>
      {% else %}
        <p class="text-center">Nenhum pin encontrado.</p>
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}
