{% extends 'base.html' %} {% block content %} 

{% if user.is_authenticated %}

<div class="col-md-6 offset-md-3 logged-in-message text-center">
  
  <h2>Você já está logado!</h2>
  <p>Que tal explorar o Pinterest agora mesmo?</p>
  <a href="{% url 'home' %}" class="btn btn-primary mt-3">Ir para a os Pins</a>
</div>

{% else %}
<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  <br />
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Coloque seu nome de Usuário "
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Coloque sua senha"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-secondary">Confirmar</button>
  </form>
</div>

{% endif %} {% endblock %}
