{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <h1 class="text-center mb-4">Perfis</h1>

  <div class="profile-grid">
    {% for profile in profiles %}
    <div class="profile-card">
      <div class="profile-image">
        {% if profile.profile_image %}
          <img src="{{ profile.profile_image.url }}" alt="{{ profile.user.username }}">
        {% else %}
          <img src="{% static 'images/pessoa.png' %}" alt="{{ profile.user.username }}">
        {% endif %}
      </div>
      <div class="profile-info">
        <h5>{{ profile.user.first_name }} {{ profile.user.last_name }}</h5>
        <div class="username-link">
          <a href="{% url 'profile' profile.user.id %}">@{{ profile.user.username }}</a>
        </div>
        
      </div>
    </div>
    {% empty %}
      <p class="text-center">Nenhum perfil encontrado.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
